<!DOCTYPE html>
<html lang="en">
<head>
{{>header}}
</head>
<body>
    {{>navbar}}

  <!--main Header-->
  <div class="container-fluid main_header_about">
    <div class="row">
      <div class="col-md-10 col-12 max-auto">
        <div class="row">

          <div class="col-md-6 col-12 main_header_left">
            <figure>
                <img src="/images/me.jpg" alt="" height="370" width="350">
              </figure>
          </div>

          <div class="col-md-6 col-12 main_header_right_about">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <h2><span class="text_clr">Sujatro Das,</span></h2>
                    <h2><span class="text_clr_about">Backend</span> Developer</h2>
                    <h4>Email: <a href="mailto:sujatro.das96@gmail.com">sujatro.das96@gmail.com</a></h4>
                    <h4>Call: <a href="tel:6289126819">6289126819</a></h4>
                </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  {{>footer}}
</body>
</html>